# Xcode
build/
DerivedData/

# User settings
xcuserdata/
*.xcuserstate
*.xcworkspace/

# Swift Package Manager
.build/
.swiftpm/

# CocoaPods
Podfile.lock
Pods/

# Playgrounds
timeline.xctimeline
playground.xcworkspace
